@import "../../styles/variables";

.card {
    &__container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    &__image{
        &-container {
            width: 100%;
            margin: 0;
            position: relative;
            border-radius: 6px;
            overflow: hidden;
        }
        & {
            width: 100%;
            height: auto;
            display: block;
            object-fit: cover; 
        }
    }
    &__info{
        &-container {
            margin-top: 8px;
        }
        &-cost {
            font-size: $font-size-small;
            text-decoration: line-through;
            color: $color-text-light;
        }
        &-discount {
            color: $color-alert;
        }
    }
}
