@import "../../styles/variables";

.card {
    &__container {
        display: flex;
        flex-direction: column;
    }
    &__image{
        &-container {
            width: 100%;
            margin: 0;
            position: relative;
            border-radius: 6px;
            overflow: hidden;
        }
        &.img {
            width: 100%;
            object-fit: cover; 
        }
    }
    &__info{
        &-cost {
            font-size: $font-size-small;
            text-decoration: line-through;
        }
        &-discount {
            color: $color-alert;
        }
    }
}
